includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
services:
  errorFormatter.junit:
    class: PHPStan\Command\ErrorFormatter\JUnitErrorFormatter
parameters:
  bootstrapFiles:
    - autoload.php
  symfony:
    containerXmlPath: var/cache/dev/ForkCMS_App_AppKernelDevDebugContainer.xml
  level: 1
  paths:
    - src
  scanFiles:
    - vendor/spoon/library/spoon/form/form.php
  excludePaths:
    - src/*/Tests/*
    - src/Backend/Cache
    - src/Backend/Core/Js/
    - src/Common/WebTestCase.php
    - src/Frontend/Cache
  earlyTerminatingMethodCalls:
    Frontend\Core\Engine\Page:
      - redirect
      - redirectToLogin
    Backend\Core\Engine\Base\Action:
      - redirect
    Backend\Core\Engine\Url:
      - redirect
      - redirectToErrorPage
    Frontend\Core\Engine\Url:
      - redirectToLanguage
  ignoreErrors:
    - '#Constant ACTION_GROUP_TAG not found.#'
    - '#Constant ACTION_RIGHTS_LEVEL not found.#'
    - '#Constant APPLICATION not found.#'
    - '#Constant BACKEND_CACHE_PATH not found.#'
    - '#Constant BACKEND_CACHE_URL not found.#'
    - '#Constant BACKEND_CORE_PATH not found.#'
    - '#Constant BACKEND_MODULES_PATH not found.#'
    - '#Constant BACKEND_PATH not found.#'
    - '#Constant FORK_VERSION not found.#'
    - '#Constant FRONTEND_CACHE_PATH not found.#'
    - '#Constant FRONTEND_CACHE_URL not found.#'
    - '#Constant FRONTEND_CORE_PATH not found.#'
    - '#Constant FRONTEND_CORE_URL not found.#'
    - '#Constant FRONTEND_FILES_PATH not found.#'
    - '#Constant FRONTEND_FILES_URL not found.#'
    - '#Constant FRONTEND_LANGUAGE not found.#'
    - '#Constant FRONTEND_MODULES_PATH not found.#'
    - '#Constant FRONTEND_PATH not found.#'
    - '#Constant FRONTEND_THEMES_PATH not found.#'
    - '#Constant LANGUAGE not found.#'
    - '#Constant NAMED_APPLICATION not found.#'
    - '#Constant PATH_WWW not found.#'
    - '#Constant SITE_DOMAIN not found.#'
    - '#Constant SITE_DEFAULT_LANGUAGE not found.#'
    - '#Constant SITE_DEFAULT_TITLE not found.#'
    - '#Constant SITE_MULTILANGUAGE not found.#'
    - '#Constant SITE_PROTOCOL not found.#'
    - '#Constant SITE_URL not found.#'