html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: $primary;

  .nav-link, .nav-link.disabled {
    color: $white;
  }

  .nav-link {
    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}
