{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block main %}

  <div class="container">
    {% include 'Core/Layout/Templates/Breadcrumb.html.twig' %}
  </div>

  {% for block in positions.main %}
    {% if block.html %}
      {% if block.blockIsEditor %}<div class="container"><div class="row"><div class="col-12">{% endif %}
      {{ block.html|raw }}
      {% if block.blockIsEditor %}</div></div></div>{% endif %}
    {% endif %}
  {% endfor %}

{% endblock %}
