{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<!-- warning for people that don't have JS enabled -->
<noscript>
  {{ alerts.alert('danger', 'msg.EnableJavascript'|trans|raw, true) }}
</noscript>

<!-- Warning for people that still use IE7 or below -->
<!--[if lt IE 8 ]>
{{ alerts.alert('danger', 'msg.OldBrowser'|trans, true, 'ie') }}
<![endif]-->

<a href="#main" class="skip-content">{{ 'lbl.SkipToContent'|trans|ucfirst }}</a>
