<div class="modal fade d-lg-none" id="topModal" tabindex="-1" aria-labelledby="topModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 visually-hidden" id="topModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center">

      </div>
    </div>
  </div>
</div>
