{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% if activationSuccess %}
  <h1>{{ 'lbl.ActivateProfile'|trans|ucfirst }}</h1>
  {{ alerts.alert('success', 'msg.ActivationIsSuccess'|trans) }}
{% endif %}
{% if activationKeyUsed %}
  <h1>{{ 'lbl.ActivateProfile'|trans|ucfirst }}</h1>
  {{ alerts.alert('warning', 'msg.ActivationKeyAlreadyUsed'|trans|format(geturlforblock('Profiles', 'Login'))|raw) }}
{% endif %}
