name: run-tests

on:
    push:
        branches:
            - '**'
    pull_request: ~
    workflow_dispatch: ~

jobs:
    docker-test:
        name: Docker
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-php-composer-${{ hashFiles('composer.json') }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.5
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, bcmath, intl, gd, exif, iconv, imagick
                  coverage: none

            # We need to have a vendor folder locally, as the whole root folder gets mounted as volume via docker compose.
            # Alternatively, you can define a named volume for the vendor folder path in docker compose.
            - name: Install dependencies
              run: composer install -o --no-scripts

            - name: Build Docker image
              run: |
                  docker pull ghcr.io/forkcms/forkcms:latest || true
                  docker compose build

            - name: Start docker compose stack
              run: |
                  docker compose up -d
                  docker run --rm --network=forkcms_default jwilder/dockerize -wait tcp://db:3306 -timeout 300s
                  docker compose ps "app" | grep -q "Up"

            - name: Test
              run: |
                  curl -s -L -o /dev/null -w "%{http_code}" http://localhost:80 | grep -q '200'
                  curl -s -L http://localhost:80 | grep -q 'Install Fork CMS'

            - name: Display error logs on failure
              if: ${{ failure() }}
              run: docker ps && docker compose logs

            - name: Cleanup
              if: always()
              run: docker compose down -v
